﻿<div style="position:relative;width:100%;">

	<div class="draw-items">
		<div title="${nls.point}" data-geotype="POINT" data-commontype="point" class="draw-item point-icon" data-dojo-attach-point="pointIcon"></div>
		<div title="${nls.line}" data-geotype="LINE" data-commontype="polyline" class="draw-item line-icon" data-dojo-attach-point="lineIcon"></div>
		<div title="${nls.polyline}" data-geotype="POLYLINE" data-commontype="polyline" class="draw-item polyline-icon" data-dojo-attach-point="polylineIcon"></div>
		<div title="${nls.freehandPolyline}" data-geotype="FREEHAND_POLYLINE" data-commontype="polyline" class="draw-item freehand-polyline-icon" data-dojo-attach-point="freehandPolylineIcon"></div>
		<div title="${nls.triangle}" data-geotype="TRIANGLE" data-commontype="polygon" class="draw-item triangle-icon" data-dojo-attach-point="triangleIcon"></div>
		<div title="${nls.extent}" data-geotype="EXTENT" data-commontype="polygon" class="draw-item extent-icon" data-dojo-attach-point="extentIcon"></div>
		<div title="${nls.circle}" data-geotype="CIRCLE" data-commontype="polygon" class="draw-item circle-icon" data-dojo-attach-point="circleIcon"></div>
		<div title="${nls.ellipse}" data-geotype="ELLIPSE" data-commontype="polygon" class="draw-item ellipse-icon" data-dojo-attach-point="ellipseIcon"></div>
		<div title="${nls.polygon}" data-geotype="POLYGON" data-commontype="polygon" class="draw-item polygon-icon" data-dojo-attach-point="polygonIcon"></div>
		<div title="${nls.freehandPolygon}" data-geotype="FREEHAND_POLYGON" data-commontype="polygon" class="draw-item freehand-polygon-icon" data-dojo-attach-point="freehandPolygonIcon"></div>
		
		<!-- 20180730 Building Draw -->
		<div title="Building" data-geotype="POINT" data-commontype="building" class="draw-item building-icon" data-dojo-attach-point="buildingIcon">B</div>

		<div title="${nls.text}" data-geotype="TEXT" data-commontype="text" class="draw-item text-icon" data-dojo-attach-point="textIcon" data-dojo-attach-point="textIcon"></div>
		<div class="drawings-clear" data-dojo-attach-point="btnClear" title="${nls.clear}"></div>
	</div>
</div>