﻿<div class="jimu-corner-all">
  <div class="zoom zoom-in" data-dojo-attach-point="btnZoomIn"
   data-dojo-attach-event="onclick:_onBtnZoomInClicked"><img class="icon" src="widgets/FSMBGIS_ZoomIn/images/icon.png" ></div>

</div>