<div>
	<div><span>Choose a coordinate system and click map:</span>
        <select data-dojo-attach-point="projectionSelect">
        </select></div>
    <div class="coordinateDiv" data-dojo-attach-point="resultTextArea"></div>
	<div class="jimu-btn" data-dojo-attach-event="onclick:removeSelectedGraphic">Remove Selected Pin</div>
	<div class="jimu-btn" data-dojo-attach-event="onclick:clearGraphics">Clear</div>
</div>