<div>
  <label>${nls.selectDrawMode}</label>
  <!-- 
    data-dojo-type='jimu/dijit/DrawBox'     
  -->
  <div data-dojo-attach-point="drawBox" 
    data-dojo-type="widgets/FSMBGIS_DrawAndBuffer/dijit/DrawBox" 
       data-dojo-props='types:["point","polyline","polygon","text"],showClear:false,deactivateAfterDrawing:false'
       style="margin-top:5px;"></div>

  <!-- Draw mode (Choose Symbols, line, polygon, etc) -->
  <div data-dojo-attach-point="settingContent" style="width:100%;">
    <div class="point-section" data-dojo-attach-point="pointSection">
      <div data-dojo-attach-point="pointSymChooser" data-dojo-type="jimu/dijit/SymbolChooser" data-dojo-props='type:"marker"'></div>
    </div>

    <div class="line-section" data-dojo-attach-point="lineSection">
      <div data-dojo-attach-point="lineSymChooser" data-dojo-type="jimu/dijit/SymbolChooser" data-dojo-props='type:"line"'></div>
    </div>

    <div class="polygon-section" data-dojo-attach-point="polygonSection">
      <div data-dojo-attach-point="fillSymChooser" data-dojo-type="jimu/dijit/SymbolChooser" data-dojo-props='type:"fill"'></div>
    </div>

    <div class="text-section" data-dojo-attach-point="textSection">
      <div data-dojo-attach-point="textSymChooser" data-dojo-type="jimu/dijit/SymbolChooser" data-dojo-props='type:"text"'></div>
    </div>

  </div>

  <!-- Show Area Measurement -->
  <div data-dojo-attach-point="areaMeasure" class="draw-item">
    <div class="header" data-dojo-attach-point="areaMeasureHeader" data-index="areaMeasure">
      <!-- <span class="arrow jimu-float-leading jimu-trailing-margin05" ></span> -->
      <span class="item-title">${nls.showAreaMeasurement}</span>
      <span class="toggle-draw jimu-trailing-margin1" data-dojo-attach-point="areaToggleDraw"></span>
    </div>
    <div class="body" style="display:none;" data-dojo-attach-point="areaMeasureBody">
      <div class="area-units-tip  jimu-float-leading">${jimuNls.common.unit}:</div>
      <select data-dojo-attach-point="areaUnitSelect" data-dojo-type="dijit/form/Select" class=" jimu-float-trailing" style="width: calc(100% - 130px);height:30px;"></select>
    </div>
  </div>

  <!-- Show Distance Measurement -->
  <div data-dojo-attach-point="distanceMeasure" class="draw-item">
    <div class="header" data-dojo-attach-point="distanceMeasureHeader" data-index="distanceMeasure">
      <!-- <span class="arrow jimu-float-leading jimu-trailing-margin05"></span> -->
      <span class="item-title">${nls.showDistanceMeasurement}</span>
      <span class="toggle-draw jimu-trailing-margin1" data-dojo-attach-point="distanceToggleDraw"></span>
    </div>
    <div class="body" style="display:none;" data-dojo-attach-point="distanceMeasureBody">
      <div class="distance-units-tip jimu-float-leading">${jimuNls.common.unit}:</div>
      <select data-dojo-attach-point="distanceUnitSelect" data-dojo-type="dijit/form/Select" class=" jimu-float-trailing" style="width: calc(100% - 130px);height:30px;"></select>
    </div>
  </div>


  <!-- 201807 Buffer Configuration -->
  <div data-dojo-attach-point="bufferOption" class="draw-item">
    <!-- on/off button -->
    <div class="header" data-dojo-attach-point="bufferOptionMeasureHeader" data-index="bufferOptionMeasure">
      <span class="item-title">${nls.showBufferOption}</span>
      <span class="toggle-draw jimu-trailing-margin1" 
            data-dojo-attach-point="bufferOptionToggleDraw"></span>
          
    </div>
    <!-- options panel -->
    <div class="body bufferbody" style="display:none;" data-dojo-attach-point="bufferOptionMeasureBody">
      <span class="item-title">${nls.bodyTitleBufferOption}</span>
      <!-- Symbol chooser:-->
      <div data-dojo-attach-point="bufferSymChooser" data-dojo-type="jimu/dijit/SymbolChooser" data-dojo-props='type:"fill"'></div>
      <!-- Radius: -->
      <table>
        <tr>
          <td>
           <span class="item-title">${nls.bufferRadiusTitle}:</span>
          </td>
          <td>
           <input data-dojo-attach-point="bufferRadiusValue" 
                  data-dojo-type="dijit/form/NumberSpinner" 
                  data-dojo-props="value:1,smallDelta:1,constraints:{min:1},intermediateChanges:true"
                  style="width: 100px; height:30px;"/>
          </td>
          <td>
            <select data-dojo-attach-point="bufferRadiusUnitSelect" 
                    data-dojo-type="dijit/form/Select" 
                    class="jimu-float-trailing"
                    style="width:120px; height:30px;">
            </select>


          </td>
        </tr>
      </table>
    </div>
  </div><!-- TILL HERE buffer Option-->



  <div class="operations" onselectstart="return false;">
    <div class="jimu-btn" data-dojo-attach-point="btnUndo" data-dojo-attach-event="onclick:_onBtnUndoClicked">${nls.undo}</div>
    <div class="jimu-btn" data-dojo-attach-point="btnRedo" data-dojo-attach-event="onclick:_onBtnRedoClicked">${nls.redo}</div>
    <div class="jimu-btn last-btn" data-dojo-attach-point="btnClear" data-dojo-attach-event="onclick:_onBtnClearClicked">${nls.clear}</div>
  </div>
</div>