input.jimu-widget-address-text{
        width: 50px !important;
    }
.list-item{
    padding: 2px;
    border: 1px;
    border-bottom-style: solid;
    border-bottom-color: #999;
}
.list-item:nth-child(odd){
    background-color: #eee;
}
.list-item.dgrid-selected:nth-child(odd){
    background-color: #d0dded;
}
input.jimu-widget-latlon-text{
        width: 50px; 
    }
#locationChoiceScreen div{
    display: block;
    margin: 70px;
    line-height: 4;
}
.searchTitle{
    font-size: 15px; !
    font-weight: bold; !
}
select.jimu-select-installation{
    max-width: 200px; !
}
select.jimu-select-landmark{
    max-width: 200px; !
}
#onBCInstallation>input{
    margin: 2px;
    max-width: 135px;
    font-family: 'Avenir Light', Verdana, Geneva, sans-serif;
}
.claro.dijitAccordionTitle{
    background-image: url("");
}
select{
    margin: 2px;
    font-family: 'Avenir Light', Verdana, Geneva, sans-serif;
}
.jimu-widget-listview {
  background-color: #f1f1f1;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: auto;
}
.jimu-widget-listview .dgrid-list {
  height: auto;
  border: 0;
  position: absolute;
  top: 35px;
  left: 0;
  right: 0;
  bottom: 0;
}
.jimu-widget-listview .dgrid-scroller {
  padding: 10px 10px;
  overflow: auto;
}
.jimu-widget-listview .dgrid-row {
  background: #fff;
  border: 1px solid #e1e1e1;
  padding: 10px 10px;
  margin-bottom: 10px;
}
.jimu-widget-listview .list-item {
  -moz-transition: all, 0.2s, ease-out;
  -o-transition: all, 0.2s, ease-out;
  -webkit-transition: all, 0.2s, ease-out;
  transition: all, 0.2s, ease-out;
}
.jimu-widget-listview .list-item:after {
  content: "";
  display: table;
  clear: both;
}
.jimu-widget-listview .list-item h4 {
  color: #00a8e1;
  line-height: 2;
  letter-spacing: 1px;
  margin: 0 15px;
}
.jimu-widget-listview .list-item .thumbnail-wrapper {
  float: left;
  width: 80px;
  height: 50px;
  margin-right: 15px;
  overflow: hidden;
}
.jimu-widget-listview .list-item .thumbnail-wrapper img {
  width: 100%;
}
.jimu-widget-listview .list-item.dgrid-selected {
  border: 1px solid #00a8e1;
  -moz-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
  position: relative;
  z-index: 1;
  cursor: default;
}
.jimu-widget-listview .list-item.simple.dgrid-selected {
  margin-bottom: 0;
}
.jimu-widget-listview .list-header {
  padding: 10px;
  padding-bottom: 0;
  font-size: 14px;
  overflow: hidden;
  *zoom: 1;
}
.jimu-widget-listview .list-header > h3 {
  margin: 0;
  margin-top: 4px;
  padding: 0 10px;
  float: left;
  font-weight: normal;
  text-transform: uppercase;
  color: #ed1c25;
}
.jimu-widget-listview .list-header > h3 strong {
  margin: 0 5px;
}
.jimu-widget-listview .list-header label {
  color: #93999e;
}

/**Tabs CSS **/
.jimu-widget-query{
  position: relative;
  width: 99%;
  height: 100%;
  min-width: 222px;
  min-height: 237px;
  overflow-x: hidden;
}

.jimu-widget-query .first-stress{
  font-family: "Avenir Light";
  font-size: 14px;
  color: #000;
  margin-bottom: 5px;
  font-weight: bold;
}

.jimu-widget-query .second-stress{
  font-size: 12px;
  color: #353535;
  margin-bottom: 5px;
}

.jimu-widget-query .jimu-table-row{
  color: #000;
}

.jimu-widget-query .jimu-table-row.jimu-state-active{
  font-weight: normal;
  background-color: #eee;
}

.jimu-widget-query .query-result-item.jimu-table-row:first-child{
  border-top: 1px solid #cbcbcb;
}


.jimu-widget-query .not-visible{
  display: none !important;
}

.jimu-widget-query .jimu-checkbox .label{
  font-size: 12px;
  position: relative;
  top: 2px;
}

.jimu-widget-query .query-widget-content{
  position: absolute;
  width: 100%;
  left: 0;
  right: 0;
  height: auto;
  top: 0;
  bottom: 0;
}
.query-widget-content{
 /** position: absolute; **/
  width: 100%;
  left: 0;
  right: 0;
  height: auto;
  top: 0;
  bottom: 0;
}

/* css for tab */
.jimu-widget-query .query-tab-header{
  position: absolute;
  width: 100%;
  height: 30px;
  left: 0;
  right: 0;
  top: 0;
  font-size: 14px;
}
.query-tab-header{
/**  position: absolute;**/
  width: 100%;
  height: 30px;
  left: 0;
  right: 0;
  top: 0;
  font-size: 14px;
}

.jimu-widget-query .query-tab-item{
  width: 50%;
  height: 100%;
  line-height: 30px;
  cursor: pointer;
  text-align: center;
  border-bottom: 1px solid #ccc;
  padding: 0 5px;
}
.query-tab-item{
  width: 50%;
  height: 100%;
  line-height: 30px;
  cursor: pointer;
  text-align: center;
  border-bottom: 1px solid #ccc;
  padding: 0 5px;
}
.jimu-widget-query .query-tab-item {
    width: 50%;
    height: 100%;
    line-height: 30px;
    cursor: pointer;
    text-align: center;
    border-bottom: 1px solid #ccc;
    padding: 0 5px;
}
.query-tab-item.selected {
    border-bottom: 2px solid #898989;
    font-weight: bold;
    color: #000;
}

.jimu-widget-query .query-tabs-container{
  position: absolute;
  width: 100%;
  left: 0;
  right: 0;
  top: 30px;
  bottom: 0;
}

.jimu-widget-query .query-tab-view{
  display: none;
  position: relative;
  width: 100%;
  height: 100%;
}

.jimu-widget-query .query-tab-view.selected{
  display: block;
}
.jimu-ltr .jimu-float-leading {
    float: left !important;
}
.jimu-ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.jimu-widget-query .query-tab-item.selected{
  border-bottom: 2px solid #898989;
  font-weight: bold;
  color: #000;
}
.jimu-btn{
  background-color: #000;
  color: #ffffff;
}
.claro .dijitAccordionInnerContainerSelected {
    /* border-color: #759dc0; */
    background-color: #000 !important;
    border-color: #000 !important;
}
.claro .dijitAccordionTitle{
    background-image: none !important;
    color: #fff !important;
   
}
.claro .dijitAccordionInnerContainer{
   background-color: #333;
   border-color: #333;
}
.claro .dijitAccordionContainer .dijitAccordionChildWrapper{
    border-color: #000 !important;
}