<div>
	<div><span>Choose a coordinate system and click map:</span>
        <select data-dojo-attach-point="projectionSelect">
        </select></div>
    <div class="coordinateDiv" data-dojo-attach-point="resultTextArea"></div>
     <label class="switch">
  <input type="checkbox" checked="true" data-dojo-attach-event="onclick:toggleLabel">
  <span class="slider round"></span>
</label>
    <div id="toggleDiv" style="display:inline-block">
        <span data-dojo-attach-point="toggleText">Hide</span><br><span>Labels</span></div>
	<div class="jimu-btn" data-dojo-attach-event="onclick:removeSelectedGraphic">Remove Selected Pin</div>
	<div class="jimu-btn" data-dojo-attach-event="onclick:clearGraphics">Clear</div>
</div>