<div>

  <h3>Click a facility(building/structure), and DMS will pop up on another window.</h3>
    <select data-dojo-attach-point="documentTypeSelection">
    <option value="Select Document Type">Select Document Type</option>
    <option value="Architectual">Architectual</option>
    <option value="Civil">Civil</option>
    <option value="Communication">Communication</option>
    <option value="Cover Sheet">Cover Sheet</option>
    <option value="ECM">ECM</option>
    <option value="Electrical">Electrical</option>
    <option value="GDM">GDM</option>
    <option value="Mechanical">Mechanical</option>
    <option value="N/A">N/A</option>
    <option value="Schedule">Schedule</option>
    <option value="Specification">Specification</option>
    <option value="Structural">Structural</option>
    <option value="Utility">Utility</option>
    <option value="Vinicity">Vinicity</option>
    </select>

</div>