.coordinateDiv{
    background-color: #fbfbfb;
    height: 253px;
    padding: 5px;
    margin-top: 8px;
    border-style: solid;
    border-width: thin;
    border-color: #d0cfcf;
    overflow: auto;
}
.jimu-btn{
    float:right;
    margin-top: 8px;
    margin-left: 20px;
}
.coordinateResultNode{
    padding: 7px 2px;
    cursor: pointer;
}
.coordinateDiv div:first-child{
    padding: 0px 2px 7px 2px;
}
.selected{
    background-color: #ccc;
    font-weight: 600;
}
