<div data-dojo-attach-point="mainScreen">
    <div style="overflow:-webkit-paged-x;" id="locationChoiceScreen" data-dojo-attach-point="locationChoiceScreen" >
        <div class="jimu-btn locationChoice" data-dojo-attach-point="onBaseQueryButton" data-dojo-attach-event="onclick:locationChoice">On-base</div>
            <div class="jimu-btn locationChoice" data-dojo-attach-point="offBaseQueryButton" data-dojo-attach-event="onclick:locationChoice">Off-Base</div>
        </div>
    <div data-dojo-attach-point="openLocationScreen">
        
        <div data-dojo-attach-point="searchTitle" style="display:inline-block;width: 50%"></div>
        <div style="width:49%; display:inline-block; text-align: right">
    <div class="jimu-btn" data-dojo-attach-point="openLocationScreenBtn" data-dojo-attach-event="onclick:openLocationChoiceScreen" style="display:inline; ">Home</div>
    </div>
        </div>
    <div style="overflow:-webkit-paged-x" data-dojo-attach-point="QueryManagerPane" data-dojo-type="QueryManager" >
        
        <!--BEGIN ON BASE TAB-->
<div id="onBaseTab" data-dojo-attach-point="onBaseTab" class="query-widget-content">
                <div data-dojo-attach-point="onBaseTabCaller" class="tc1cp task-tab-view" title="Caller (To)" data-dojo-type="dijit/layout/ContentPane">
                    <br/>
                    <div id="ta1-prog">
                        <div id="onBCInstallation">INSTALLATION: <select class="jimu-select-installation" data-dojo-attach-point="onBCInstallationDDL" data-dojo-attach-event="onChange:updateSpatialFilter">
                            <option value="Select an Installation">Select an Installation</option>
                            </select>
                        </div>
                        <br/>
                        <div class="onBCPane" title="BUILDING">
                            <div> Building Name (Alias): <input data-dojo-attach-event="onkeypress:keyListener"  data-dojo-attach-point="onBCBuildingNameTxt"><div class="jimu-btn" data-dojo-attach-point="onBCBuildingNameBtn" data-dojo-attach-event="onclick:BuildingNameFind" style="display:inline; ">↵</div></input> 
                            </div>
                            <div>Building #: <input data-dojo-attach-event="onkeypress:keyListener"  data-dojo-attach-point="onBCBuildingNumTxt"></input><div class="jimu-btn" data-dojo-attach-point="onBCBuildingNumBtn" data-dojo-attach-event="onclick:BuildingNumFind" style="display:inline; ">↵</div></div>
                        </div>
                  <div class="onBCPane" title="LANDMARK">
                    <div>Landmark Type: <select class="jimu-select-landmark" data-dojo-attach-point="onBCLandmarkTypeDDL"><option value="Select a landmark type">Select a landmark type</option></select></div>
                    <div>Landmark Description: <input data-dojo-attach-event="onkeypress:keyListener"  data-dojo-attach-point="onBCLandmarkDescriptionTxt"></input><div class="jimu-btn" data-dojo-attach-point="onBCLandmarkDescriptionBtn" data-dojo-attach-event="onclick:onBaseLandmarkDescriptionFind" style="display:inline; ">↵</div></div>
                  </div>
                  <div class="onBCPane" title="TRAINING LOCATION">
                    <div>Military Training Location: <input data-dojo-attach-event="onkeypress:keyListener"  data-dojo-attach-point="onBCMilitaryTrainingLocationTxt"></input><div class="jimu-btn" data-dojo-attach-point="onBCMilitaryTrainingLocationBtn" data-dojo-attach-event="onclick:onMilitaryTrainingLocationFind" style="display:inline; ">↵</div></div>
                  </div>
                  <div class="onBCPane" title="ROAD/INTERSECTION">
                    <div>Road #1: <input data-dojo-attach-event="onkeypress:keyListener"  data-dojo-attach-point="onBCRoad1Txt"></input></div>
                    <div>Road #2: <input data-dojo-attach-event="onkeypress:keyListener"  data-dojo-attach-point="onBCRoad2Txt"></input><div class="jimu-btn" data-dojo-attach-point="onBCRoadBtn" data-dojo-attach-event="onclick:onBaseRoadFind" style="display:inline; ">↵</div></div>
                  </div>
                  <div class="onBCPane" title="LAT/LONG">
                    <div>Lat(Y): <input data-dojo-attach-event="onkeypress:keyListener"  class="jimu-widget-latlon-text"data-dojo-attach-point="onBCLatTxt"></input>Long(X): <input data-dojo-attach-event="onkeypress:keyListener"  class="jimu-widget-latlon-text" data-dojo-attach-point="onBCLongTxt"></input></div>
                        <div class = "jimu-btn" data-dojo-attach-point="onBCDropPinBtn" data-dojo-attach-event="onclick:dropPin">Drop Pin</div>
                  </div>

                    </div>
                </div>

            </div>
        <!--BEGIN OFF BASE TAB-->
<div id="offBaseTab" data-dojo-attach-point="offBaseTab" class="query-widget-content">
          <div class="tc2cp task-tab-view" data-dojo-attach-point="offBaseTabCaller" title="Caller (To)">
                <br/>
                <div id="ta3-prog">
                <div>Jurisdiction: <select class="jimu-widget-address-jurisdiction" data-dojo-attach-point="offBCJurisdictionDDL" data-dojo-attach-event="onChange:updateSpatialFilter"><option value="Select a Jurisdiction">Select a Jurisdiction</option></select></div>
                <br/>
          <div class="offBCPane" title="ADDRESS">Address #: 
            <input data-dojo-attach-event="onkeypress:keyListener"  data-dojo-attach-point="OffBCchrome" class="jimu-widget-address-text">-
              <input data-dojo-attach-event="onkeypress:keyListener"  data-dojo-attach-point="OffBCbranchi" class="jimu-widget-address-text">-
              <input data-dojo-attach-event="onkeypress:keyListener"  data-dojo-attach-point="OffBCgou" class="jimu-widget-address-text">-
              <input data-dojo-attach-event="onkeypress:keyListener"  data-dojo-attach-point="OffBChude" class="jimu-widget-address-text">
            <br>
              <span>Ward/Subdivision</span><select data-dojo-attach-point="OffBCsectionInput" class="jimu-select-ward"><option value="Select a Ward/Subdivision">Select a Ward/Subdivision</option></select>
            <br>
              <span>Town/Village</span><select data-dojo-attach-point="OffBCtownVillageInput" class="jimu-select-town"><option value="Select a Town/Villiage">Select a Town/Villiage</option></select>
            <br>
              <span>City/District</span><select data-dojo-attach-point="OffBCcityInput" class="jimu-select-city"><option value="Select a City/District">Select a City/District</option></select><div class="jimu-btn" data-dojo-attach-point="offBaseAddressBtn" data-dojo-attach-event="onclick:offBaseAddressFind" style="display:inline; ">↵</div>
          
              
          </div>
                        
          <div class="offBCPane" title="LANDMARK">
            <div>Landmark Description: <input data-dojo-attach-event="onkeypress:keyListener"  data-dojo-attach-point="offBCLandmarkDescriptionTxt"></input><div class="jimu-btn" data-dojo-attach-point="offBCLandmarkDescriptionBtn" data-dojo-attach-event="onclick:offBCLandmarkDescriptionFind" style="display:inline; ">↵</div></div>
                    <div>Road<input data-dojo-attach-event="onkeypress:keyListener"  data-dojo-attach-point="offBCLandmarkRoadTxt">
                        </input><div class="jimu-btn" data-dojo-attach-point="offBCLandmarkRoadBtn" data-dojo-attach-event="onclick:offBCLandmarkRoadFind" style="display:inline; ">↵</div>
          </div>
               
              <div>Intersection: <input data-dojo-attach-event="onkeypress:keyListener"  data-dojo-attach-point="offBCLandmarkIntersectionTxt" data-dojo-attach-event="onkeypress:keyListener" ></input><div class="jimu-btn" data-dojo-attach-point="offBCLandmarkIntersectionBtn" data-dojo-attach-event="onclick:offBCLandmarkIntersectionFind" style="display:inline; ">↵</div>
                </div>
                 </div>

          <div class="offBCPane" title="ROAD/INTERSECTION">
            <div>Road #1: <input data-dojo-attach-event="onkeypress:keyListener"  data-dojo-attach-point="offBCRoad1Txt" data-dojo-attach-event="onkeypress:keyListener"></input></div>
            <div>Road #2: <input data-dojo-attach-event="onkeypress:keyListener"  data-dojo-attach-point="offBCRoad2Txt"></input><div class="jimu-btn" data-dojo-attach-point="offBCRoadBtn" data-dojo-attach-event="onclick:offBaseRoadFind" style="display:inline; ">↵</div></div>
          </div>
          <div class="offBCPane" title="INSTALLATION GATE">
           <div>Start Installation:<select data-dojo-attach-point="offBCStartInstallationTxt" class="jimu-select-installation"><option value="Select an Installation">Select an Installation</option> </select></div>
            <div>Start Gate:<input data-dojo-attach-event="onkeypress:keyListener"  data-dojo-attach-point="offBCStartGateTxt"></input><div class="jimu-btn" data-dojo-attach-point="offBCStartGateBtn" data-dojo-attach-event="onclick:offBCStartGateFind" style="display:inline; ">↵</div></div>
          </div>
          <div class="offBCPane" title="LAT/LONG">
            <div>Lat(Y): <input data-dojo-attach-event="onkeypress:keyListener"  class="jimu-widget-latlon-text" data-dojo-attach-point="offBCLatTxt"></input>Long(X): <input data-dojo-attach-event="onkeypress:keyListener"  data-dojo-attach-point="offBCLongTxt"></input></div>
                <div class = "jimu-btn" data-dojo-attach-point="offBCDropPinBtn" data-dojo-attach-event="onclick:dropPin">Drop Pin</div>
          </div>

        </div>
          </div>

          
        </div>
    </div>
    <div id="submitQuery_ResultsPane" data-dojo-attach-point="submitQuery_ResultsPane">
<div style="width:49%; display:inline-block; text-align: left">
        <div class="jimu-btn" data-dojo-attach-point="btnClear" data-dojo-attach-event="onclick:clearAll">Clear</div>
    </div>
        <div style="width:49%; display:inline-block; text-align: right"><div data-dojo-attach-point="RefineSearchBtn" class="jimu-btn" style="display:inline-block;" data-dojo-attach-event="onclick:refineLandmarkSearch">Refine Search</div>
        </div>
        <div data-dojo-attach-point="CandidateCount"></div>
        <div class="list-header" data-dojo-attach-point="headerNode"></div>	
        <div data-dojo-attach-point="ListNode"></div>
    </div>
</div>