.coordinateDiv{
    background-color: #fbfbfb;
    height: 253px;
    padding: 5px;
    margin-top: 8px;
    border-style: solid;
    border-width: thin;
    border-color: #d0cfcf;
    overflow: auto;
}
.jimu-btn{
    float:right;
    margin-top: 8px;
    margin-left: 20px;
}
.coordinateResultNode{
    padding: 7px 2px;
    cursor: pointer;
}
.coordinateDiv div:first-child{
    padding: 0px 2px 7px 2px;
}
.selected{
    background-color: #ccc;
    font-weight: 600;
}
/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 34px;
  height: 19px;
  top: -10px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 15px;
  width: 15px;
  left: 2px;
  bottom: 2px;
  background-color: white;
}

input:checked + .slider {
  background-color: #009966;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(15px);
  -ms-transform: translateX(15px);
  transform: translateX(15px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 21px;
}

.slider.round:before {
  border-radius: 50%;
}
#toggleDiv{
    padding-top: 5px;
}
